<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
</head>
<body>
<div style="height: 700px; width: 700px; background-color: blue">
<h1 style="color : white">Movie Secrets Registration Page!</h1>
<h2 style="color : red">You haven't registered Yet?</h2>
<img src="https://pbs.twimg.com/profile_images/422240966871769088/oXjMc_ij_400x400.jpeg" width="300" height="300">
<form action="demo_form.asp">
<p style="color: white"> First name: </p><input style= "width: 250px" type="text" name="FirstName" value=""><br>
<p style="color: white"> Last name: </p> <input style= "width: 250px" type="text" name="LastName" value=""><br>
<p style="color: white"> Email Address: </p><input style= "width: 250px" type="email" name="LastName" value=""><br>
<p style="color: white"> Age: </p><input style= "width: 25px" type="text" name="LastName" value=""><br><br>

<input type="submit" value="Enter">
</form>


</div>

</body>
</html>

 
