<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
</head>
<body>
	<div style="height: 1200px; width: 1200px; background-color: gray">
 		<div style="margin-left : 300px; margin-top: 200px; width: 500px; height: 500px; border-style: solid">
 		 
 		<form action="demo_form.asp">
			<p style="color: white"> First name: </p><input style= "width: 250px" type="text" name="FirstName" value=""><br>
			<p style="color: white"> Last name: </p> <input style= "width: 250px" type="text" name="LastName" value=""><br>
			<p style="color: white"> Email Address: </p><input style= "width: 250px" type="email" name="LastName" value=""><br>
			<p style="color: white"> Age: </p><input style= "width: 25px" type="text" name="LastName" value=""><br><br>

			<input type="submit" value="Enter">
		</form>
		</div>


	</div>

</body>
</html>

 