@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
	background-image: url('/images/background.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ffffff;
  text-align: center;
}

a {
  color: #ff5555;
}
.font {
	font: 1.5em "Love Ya Like A Sister", Helvetica, Arial, sans-serif;

}
.header {
  font: 7em "Love Ya Like A Sister", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
}

.header a { color:#fff;}
img {
	margin: 15px 0 10px 0;
}
form {
	margin: 10px;
	text-align: left;
}
label {
	color: #aaa;
	font-size: .9em;
}
.confession {
	background: rgba(0, 0, 0, .2);
	border: 7px solid #000;
	padding: 10px;
	margin-top:15px;
}
.confessions {
	margin-top: 50px;
}